{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Nebulizers</title>



    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    </head>

    <body>


    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">



                         {% if user.is_authenticated %}

                        <a href="{% url 'admin_home' %}" class="logo">

                            <img src="{% static 'assets/images/logo_gold.jpeg' %}" style="width:100px;height:80px">

                        </a>

                        {% else %}


                        <a href="{% url 'home' %}" class="logo">

                            <img src="{% static 'assets/images/logo_gold.jpeg' %}" style="width:100px;height:80px">

                        </a>


                        {% endif %}



                        <ul class="nav">

                              {% if user.is_authenticated %}
                                <li class="scroll-to-section"><a href="{% url 'admin_home' %}" class="active">Home</a></li>
                                    {% else %}
                                <li class="scroll-to-section"><a href="{% url 'home' %}" class="active">Home</a></li>
                                 {% endif %}

                            <li class="scroll-to-section"><a href="{% url 'about_us' %}">About Us</a></li>
                            <li class="scroll-to-section"><a href="{% url 'surgical_view' %}">Surgicals</a></li>



                            <li class="submenu">
                                <a href="javascript:;">Products</a>
                                <ul>
                                    <li><a href="{% url 'new_arrivals' %}">New Arrivals</a></li>
                                    <li><a href="{% url 'daily_needs' %}">Daily Needs</a></li>
                                     {% for t in bb %}
                                    <li><a href="{% url 'product_view' t.id %}">{{t.category_title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>


                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>



    <section class="section" id="products" style="margin-top:20px;">


        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Nebulizers</h2>
                        <span>Free door step delivery. Call Us: 98957 08875 / Message Us: 98957 08875</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">









                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>
                            <img src="{% static 'assets/images/Nebulizer Lifecare Cabinet.jpg' %}" alt="" style="width:250px;height:250px;">
                        </div>
                        <div class="down-content">
                            <h4>Nebulizer Lifecare Cabinet</h4>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>
                            <img src="{% static 'assets/images/Nebulizer Genius.jpg' %}" alt="" style="width:250px;height:250px;">
                        </div>
                        <div class="down-content">
                            <h4>Nebulizer Genius</h4>
                        </div>
                    </div>
                </div>


                 <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>
                            <img src="{% static 'assets/images/Nebulizer Omron.jpg' %}" alt="" style="width:250px;height:250px;">
                        </div>
                        <div class="down-content">
                            <h4>Nebulizer Omron</h4>
                        </div>
                    </div>
                </div>


                  <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>
                            <img src="{% static 'assets/images/Nebulizer Perfecxa.jpg' %}" alt="" style="width:250px;height:250px;">
                        </div>
                        <div class="down-content">
                            <h4>Nebulizer Perfecxa</h4>
                        </div>
                    </div>
                </div>


                 <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>
                            <img src="{% static 'assets/images/Nebulizer Lifecare Compact.jpg' %}" alt="" style="width:250px;height:250px;">
                        </div>
                        <div class="down-content">
                            <h4>Nebulizer Lifecare Compact</h4>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>


    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>


    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>


    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

  </body>

</html>
